body {
  margin: 0px;
  background-image: url(images/cinnaBackgroundPlatformer1.png);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url(images/cinnaBackgroundPlatformer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(118, 0, 233, 0.375);
}

img {
  display: none;
}

#levelNum {
  color: white;
  position: fixed;
  top: 10px;
  opacity: 70%;
}
